.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #161b22;
  padding: 0 50px;
}

.logo {
  cursor: pointer;
}

.search-field {
  height: 30px;
  width: 15%;
  background-color: #0d1117;
  color: #fff;
  border: 1px solid #30363d;
  border-radius: 4px;
  margin-left: 25px;
  margin-right: 5px;
  padding-left: 10px;
  transition: 1s;
}

.search-field:focus {
  width: 30%;
  outline: none;
  transition: 1s;
}

.slash {
  height: 27px;
  width: 27px;
  background-color: #0d1117;
  color: #fff;
  border: 1px solid #30363d;
  border-radius: 4px;
}

@media only screen and (max-width: 1100px) {
  .navbar {
    padding: 0 30px;
  }

  .search-field,
  .search-field:focus {
    width: 37%;
  }
}

@media only screen and (max-width: 650px) {
  .search-field,
  .search-field:focus {
    width: 66%;
  }
}
