.main {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main::after {
  content: "";
  display: block;
  height: 80px;
}

.content {
  min-height: 450px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 115px;
  padding: 0 50px;
}

.content h1 {
  font-size: 48px;
}

.search {
  width: 100vw;
  margin: 115px 0 50px;
  padding: 0 100px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hl {
  content: "";
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #30363d;
  margin: 25px 0 10px;
}

@media only screen and (max-width: 1200px) {
  .content {
    padding: 0 30px;
  }
}
