.main {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main::after {
  content: "";
  display: block;
  height: 80px;
}

.content {
  width: 100vw;
  display: flex;
  margin: 115px 0 50px;
  padding: 0 50px;
}

.repo-list {
  width: 80%;
  padding-left: 50px;
}

.repo-list h1 {
  display: flex;
  align-items: center;
}

.total {
  background-color: #30363d;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 13px;
  margin-left: 5px;
  padding: 4px;
}

.hl {
  content: "";
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #30363d;
  margin: 10px 0 20px;
}
